#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 15px 40px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06)

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
list-style: none;
padding: 0 20px;
position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
    position: relative;
}
#navbar li a:hover,
#navbar li a.active {
    width: 200%;
    color: cadetblue;

}
#navbar li a.active ::after,
#navbar li a:hover::after{
    content: "";
    width: 50%;
    height: 2px;
    background-color: cadetblue;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: 0.3 ease;
}

#header .logo{
    width: 120px;
    height: auto;
}

#hero{
    background-image: url("serum.jpg");
    height: 90vh;
    width: 100%;

}