#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06)

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
list-style: none;
padding: 0 20px;
position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
    position: relative;
}
#navbar li a:hover,
#navbar li a.active {
    color: cadetblue;
}


#navbar li a.active::after,

#navbar li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: cadetblue;
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: 0.3 ease;
}
#navbar li a:hover::after,
#navbar li a.active::after {
    width: 100%;
}

#header .logo{
    width: 120px;
    height: auto;
}

#hero{
    background-image: url("VitaminC.webp");
    height: 90vh;
    width: 100%;
    background-size: cover;
background-position: top 25% right 0;
padding: 0 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: black;
}
 
#hero button{
    background-color: transparent;
    color: cadetblue;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
}
 